.DS_Store
.env
.env*.local
.next
.omx
node_modules
supabase/.temp/
tsconfig.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage
dist
playwright-report
test-results
.omx/
.vercel
.env.vercel
